<PageContainer X=1 Y=1 width="$application.width" height="$application.height">
    <Page id="main">
        <Container id="control_bar" width="$parent.width" height="4" backgroundColour="128">
            <Button id="exit" text="x" X="51" colour="red" backgroundColour="128" activeBackgroundColour="red" activeColour="white"/>
            <Label X=2 Y=1 text="Plexus" colour="cyan"/>
            <Button text="<" id="back" class="nav_button" X=2/>
            <Button text="Up" id="up" class="nav_button" width=4 X=6/>
            <Button text=">" id="next" class="nav_button" X=11/>

            <NavigationBar width=30 X=16 Y="$parent.height - 1" backgroundColour=lightGrey/>

            <Button text="=" id="sidebar_toggle" class="nav_button" X=48/>
        </Container>

        <Container Y="${#control_bar}.height + 1" class="content_cont" width="$1 + ( application.width - self.X )" height="$parent.height - self.Y + 1" X="-13">
            <ScrollContainer id="sidebar" width="14" height="$parent.height" backgroundColour="grey">
                <Label text="Header" color="white" X="2" Y="2"/>
            </ScrollContainer>
            <Container X=15 Y=1 width=51 id="header_container">
                <Button text="Name" id="name_header" X=2/>
                <Button text="Size" id="size_header"/>
            </Container>
            <ScrollContainer Y=2 width="$parent.width - 14" height="$parent.height - 2" X=15 id="listing_container" xScrollAllowed=false></ScrollContainer>
            <Label colour=lightGrey text="Powered by Titanium" X=16 Y="$parent.height" id="footer"/>
        </Container>
    </Page>
</PageContainer>
